:root{
    --primary-background:#ffffff;
    --primary-font-color:#000000;
    --primary-btn-color:#A7C6ED;
    --delete-dark-mode:#FF4C4C;
    --primary-font:"inter", sans-serif;


}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}

body{
    background-color: var(--primary-background);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: var(--primary-font);
    color: var(--primary-font);


}



p{
    font-family: inherit;
}

h1{
   font-size: 1.6rem;
}


.nav{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fcfcfcee;
    padding: 8px 10px;
    /* border-radius: 8px; */
    border-bottom: 1px solid #e6e3e3;
    box-shadow: 0px 7px 5px #ffffffbe;
    align-items: end;

}

.nav ul{
    list-style: none;
    
}

ul img{
    width: 20px;
}

li{
    list-style: none;
}

.card-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1700px;
    
}



.card{
    height: 40dvh;
    width:25%;
    border: 1px solid #d4d3d3;
    border-radius: 15px;

    background-image: url("./images/focus/focus_img_bg.png");background-position: center;background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}


.card-header{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding: 10px 18px;
    align-content: baseline;
    

}

.card-header h2{
    font-size: 1rem;
    font-weight: 800;
    

}

.card-header img{
    height: 30px;
    color: var(--primary-btn-color);


}

.card-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
   

    
    
}

.goal-list{
    color: #444444;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    


}

#goal-delete-btn{
    color: var(--delete-dark-mode);
    background-color: inherit;
    font-weight: 100;
    

}

.goal-input{
    margin-top:auto ;
    display: flex;
    

    

}
.goal-input input{
    border: 1px solid #ebe8e8;
    border-radius:3px;
    padding: 5px 5px;
    
}


.goal-input input:focus{
    border: 1px solid #ffff;
}

.goal-input button{
    font-size: .8em;
    font-weight: 600;
    color: #1066cf;
    padding:0px  10px;
    border-radius: 4px;
    margin-left: -50px;
    background-color: var(--primary-btn-color);
}

.second-goal-input{
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    
}

.p-time{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
}


.start-btn{
    padding: .5rem 1rem;
    background-color: var(--primary-btn-color);
    border-radius: 5px;
    color: #0a4fa3;
    font-weight: 200;
}

.stop-btn{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: .6rem .3rem;
    border: 1px solid #e4e4e4;
    border-radius: 5px;

}

.reset-btn{
    font-size: .4rem;
    font: inherit;
    font-weight:400 ;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background-color: inherit;
    padding: .5rem .3rem;
    
    
    
}




.body-container{

    width: 100%;
    max-width: 1700px;
   padding: 1rem 12rem;
   

}

.todo-container{
    margin-top: 50px;
    border: 1px solid #eeeeee;
    padding: 20px;
    overflow: auto;
    width: 100%;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

.todo-container h2{
    font-size: 2rem;


}

.todo-container p{
    color: #808080;
    font-size: .9rem;
    padding: 5px;

}

.todo-input{
    display: flex;
    padding: .5rem;
    gap:10px;
}

.todo-input input{
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    color: gray;
    border: 1px solid #ccc;
    font-size: .8rem;
    font-weight: 500;
    font-style: italic;
    border-radius: 5px;
}
.todo-input button{
    font-size: .8rem;
    font-weight: 600;
    border: 1px solid #ddd;
    margin-left: 5px;
    border-radius: 5px;
    color: #000;
    padding: 8px 16px;
    background: #ffffff;
    white-space: nowrap;
}

.todo-items li::before{
    content: '';
    display: inline-block;
    border-radius: 2px;
    margin-right: 4px;
    height: 7px;
    width: 7px;
    padding: 2px;
    border: 2px solid #b6b6b6;
}

.todo-items li{
    color: #575656;
    font-style:inherit;
    border-bottom: 1px solid #e4e4e4;
    padding: 13px;
}

.todo-items li.done{
    text-decoration: line-through;
    
}

.todo-items li.done::before{
    content: '✔';
    color: #ffffff;
    font-size: 14px;
    background-color: var(--primary-btn-color);
    border: none;
    
}

#delete-btn{
    color: var(--delete-dark-mode);
    background-color: inherit;
    font-weight: 100;
    position: absolute;
    right: 220px;
}



